$colorPrimary :  #f7a71d;
$colorPrimaryDark :  #c88116;
$colorAccent : #2e82ff;
$colorDarkerGray : #AAAAAA;
$appGreen :  #72c04d;
$appRed : #ff6f5e;
$appWhite : #FFF;

body {

  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f4f4f4;
  height: 100vh;
}

main{
}

h1, h2, h3, h4 ,h5 ,h6, p, a{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;

}

.font-header{
  font-weight: 400 !important;
  letter-spacing: 1px;
  font-size: 2.5em;
  margin: 0;
  color: #636363;

}

a {
  text-decoration: none;
  color: #2f2f2f;
}

hr {
  margin: 10px 0 10px 0;
  background-color: #000;
  height: 1px;
  border-style: none;
  opacity: 0.1
}
input, button { border:none; }


.container {
  display: flex;
  flex-wrap: wrap;
}

.plot-container{
  min-height: 600px;
  min-width: 600px;
  justify-content: center;
  align-self: center;
}

.plot-map {
  position: absolute;
  margin-top: 16px;
  z-index: 10;

}


.green-button {
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.1);
  background-color: #72c04d;
  max-width: 100px;
  height: 32px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 0 1rem;
  vertical-align: middle;
  line-height: 32px;
  font-weight: 400;
  transition: box-shadow .2s, opacity .2s;
  cursor: pointer;
}
.green-button:hover {
  box-shadow: 0 2px 31px 0 rgba(0,0,0,0.15), 0 2px 19px 0 rgba(0,0,0,0.1);
  opacity: 0.8;
}

.red-button {
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.1);
  background-color: #ff6f5e;
  max-width: 100px;
  height: 32px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 0 1rem;
  vertical-align: middle;
  line-height: 32px;
  font-weight: 400;
  transition: box-shadow .2s, opacity .2s;
  cursor: pointer;
}
.red-button:hover {
  box-shadow: 0 2px 31px 0 rgba(0,0,0,0.15), 0 2px 19px 0 rgba(0,0,0,0.1);
  opacity: 0.8;
}

.yellow-button {
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.1);
  background-color: #ffd75c;
  max-width: 100px;
  height: 32px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 0 1rem;
  vertical-align: middle;
  line-height: 32px;
  font-weight: 400;
  transition: box-shadow .2s, opacity .2s;
  cursor: pointer;

}
.yellow-button:hover {
  box-shadow: 0 2px 31px 0 rgba(0,0,0,0.15), 0 2px 19px 0 rgba(0,0,0,0.1);
  opacity: 0.8;
}

.beacon-selected {
  background-color: rgba(0,0,0,0.4);
}



.fixed-create-session-menu {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right:0;
  padding: 8px;
  background-color: white;
  justify-content: flex-end;
  z-index: 100;
  * {
    margin: 8px;

  }
}


.green-marked {
  padding: 8px;
  background-color: rgba(114, 192, 77, 0.5);
  border-radius:2px;
  text-align: center;
  margin:8px;
  color: white;

}

.red-marked {
  padding: 8px;
  background-color: rgba(255, 111, 94, 0.5);
  border-radius:2px;
  text-align: center;
  margin:8px;
  color: white;

}

.gray-marked {
  background-color: rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;

}
.yellow-marked {
  background-color: rgba(255, 215, 92, 0.5);
  padding: 8px;
  border-radius:2px;
  text-align: center;
  margin:8px;
  color: white;

}
.blue-marked {
  background-color: rgba(46, 130, 255, 0.5);
  padding: 8px;
  border-radius:2px;
  text-align: center;
  margin:8px;
  color: white;

}



.card{
  background-color: $appWhite;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.1);
  padding: 8px 8px 16px 8px;
  transition: box-shadow .2s, transform .2s;
  margin:16px;

  z-index: 0;
  opacity: 1;

  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .2s;
  display:flex;
  flex-direction: column;

}

/*********************Modifiers*********************/

.overflow-scroll-y{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

.max-height-600 {
  max-height: 600px;
}

.max-height-300 {
  max-height: 300px;
}

.min-width-300 {
  min-width: 300px;
}

.max-width-300 {
  max-width: 300px;
}

.padding8px{
  padding: 8px;
}

.margin8px {
  margin: 8px;
}

/**flex-modifiers**/
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.flex-container-column-direction {
  flex-direction: column;
}

.flex-container-center {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.fade-in {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .3s;
}


.fixing-the-fixed-footer-shit {
  height: 64px;
  width: 100%;
}

.flex-align-self-end {
  align-self: flex-end;
}
.flex-align-items-center {
  align-items: center;
}

/**END*******************END Modifiers END*****************END**/

/********************Legend********************/

.current-mark {
  border-radius: 50%;
  background-color: red;
  height: 12px;
  width: 12px;
  border: solid 1px #fbb033;

}
.last-pos-mark {
  border-radius: 50%;
  background-color: lightblue;
  height: 10px;
  width: 10px;
  border: solid 1px #fbb033;
}

.pos-mark {
  border-radius: 50%;
  background-color: black;
  height: 16px;
  width: 16px;
}
.beacon-mark {
  border-radius: 50%;
  background-color: #2e82ff;
  height: 12px;
  width: 12px;
}

/**END*******************END Legend END*****************END**/




/********************Keyframe animations********************/
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**END******************Keyframe animations******************END**/
